<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    {% for message in messages %}
    <div class="alert alert-{{ messages.tags }} alert-dismissed fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismisse="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    
     <h3>Signin</h3>
     <form action="" method="post">
       {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="create a username here." required>
        <br>


        <label for="pass1">Password:</label>
        <input type="password" name="pass1" id="pass1" placeholder="create a password here." required>
        <br>

        <button type="submit" >Signin</button>
        <button type="submit"><a href="{% url 'signup' %}">Signup</a></button>
    </form>
</body>
</html>
